{% extends 'base.html.twig' %}

{% block title %}Comentario realizado{% endblock %}

{% block body %}
    <div class="registration-success">
        <h1>¡Gracias {{nombre}} por comentar!</h1>
        <p>Tu comentario ha sido registrado con éxito.</p>
    </div>
{% endblock %}
