{% extends 'base.html.twig' %}

{% block title %}Registro Exitoso{% endblock %}

{% block body %}
    <div class="registration-success">
        <h1>¡Gracias {{nombre}} por registrarte!</h1>
        <p>Tu nombre ha sido registrado con éxito.</p>
    </div>
{% endblock %}
