<div class="modal fade" id="modalAddOficio" tabindex="-1" aria-labelledby="modalAddOficioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddOficioLabel">Agregar Oficio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ path('app_oficio') }}" method="post">
                    <div class="mb-3">
                        <label for="nombreOficio" class="form-label">Nombre del Oficio</label>
                        <input type="text" class="form-control" id="nombreOficio" name="nombreOficio" required>
                    </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAddOficio">
                             Agregar Oficio
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>
